<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content class="mat-typography">
  <p>This Privacy Policy describes how MySuccess Resources (M) Sdn Bhd (the “Site” or “we”) collects, uses,
    and discloses your Personal Information when you visit or make a purchase from the Site.
  </p>

  <p>Please read this Privacy Policy carefully. By clicking or checking “sign up”, “I agree to MySuccess’ Privacy
    Policy”, “I agree and consent to the collection, use, disclosure, storage, transfer and/or processing of my
    personal data for the purpose stated in, and under the terms of, MySuccess’ Privacy Policy” or similar
    statements available at the MySuccessregistration page or in the course of providing you with the
    services or access to the platform, you acknowledge that you have read and understood the terms of
    this privacy policy and that you have agreed and consented to the collection, use, disclosure, storage,
    transfer and/or processing of your Personal Information as described and under the terms herein and
    exclude and waive any liability against MySuccess Resources (M) Sdn Bhd for any breach of data privacy
    and personal injury due to the data breach unless done with malicious intent.
  </p>

  <p>We may update this Policy to ensure that it is consistent with industry trends and/or any changes in legal
    or regulatory requirements. You agree to be bound by the prevailing terms of the Policy as updated from
    time to time.</p>

  <h3>Collecting Personal Information</h3>
  <p>When you visit the Site, we collect certain information about your device, your interaction with the Site,
    and information necessary to process your purchases. We may also collect additional information if you
    contact us for customer support and any other personally identifiable information, which you have
    provided us in any forms you may have submitted to us, or in the course of any other forms of
    interaction between you and us. In this Privacy Policy, we refer to any information that can uniquely
    identify an individual (including the information below) as “Personal Information”. See the list below for
    more information about what Personal Information we collect and why.</p>

  <h3>Device information</h3>

  <p>• Examples of Personal Information collected: version of web browser, IP address, time zone, cookie
    information, what sites or products you view, search terms, and how you interact with the Site.
  <p>• Purpose of collection: to load the Site accurately for you, and to perform analytics on Site usage to
  optimize our Site.</p>
  <p>• Source of collection: Collected automatically when you access our Site using cookies, log files, web
    beacons, tags, or pixels.</p>
  <p>• Disclosure for a business purpose: shared with our processor WooCommerce and Dokan.</p>

  <h3>Order information</h3>

  <p>• Examples of Personal Information collected: name, billing address, shipping address, payment
    information (including credit card numbers), email address, phone number and any other
    information required by MySuccess Resources (M) Sdn Bhd for its commercial transactions.</p>
  <p>• Purpose of collection: to provide products or services to you to fulfill our contract, to process your
    payment information, arrange for shipping, and provide you with invoices and/or order
    confirmations, communicate with you, screen our orders for potential risk or fraud, and when in
    line with the preferences you have shared with us, provide you with information or advertising
    relating to our products or services</p>
  <p>• Source of collection: collected from you.</p>
  <p>• Disclosure for a business purpose: shared with our processor WooCommerce and Dokan.</p>

  <h3>Customer support information</h3>


  <p>  • Examples of Personal Information collected: name, billing address, shipping address, email
    address, and phone number.</p>
  <p>  • Purpose of collection: to provide customer support.</p>
  <p>  • Source of collection: collected from you.</p>
  <h3>Minors</h3>

  <p>  • MySuccess does not sell products to minors (determined based on the applicable law), nor does it
    intend to provide any of the Services or the use of the Platform to minors. We do not
    intentionally collect any personal data relating to minors.</p>

  <p>• You hereby confirm and warrant that you are above the age of minority and you are capable of
  understanding and accepting the terms of this Privacy Policy. If you are a minor, you may use our
  Platform only with the involvement of a parent or legal guardian.</p>
  <p>• As a parent or legal guardian, please do not allow minors under your care to submit personal data
  to MySuccess Resources (M) Sdn Bhd. In the event that such personal data of a minor is
  disclosed to MySuccess Resources (M) Sdn Bhd, you hereby consent to the processing of the
  minor’s personal data and accept and agree to be bound by this Privacy Policy and take
  responsibility for his or her actions.</p>
  <p>• We will not be responsible for any unauthorized use of the Services on the Platform by yourself,
  users who act on your behalf or any unauthorized users. It is your responsibility to make your
  own informed decisions about the use of the Services on the Platform and take necessary steps
  to prevent any misuse of the Services on the Platform</p>

  <h3>Sharing Personal Information</h3>

  <p>We share your Personal Information with service providers to help us provide our services and fulfill our
    contracts with you, as described above. For example, we may share your Personal Information to comply
    with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request
    for information we receive, or to otherwise protect our rights.</p>

  <h3>Behavioral Advertising</h3>

  <p>As described above, we may use your Personal Information to provide you with targeted advertisements
    or marketing communications we believe may be of interest to you. For example:</p>

  <p>
    • We use Google Analytics to help us understand how our customers use the Site. You can read more
    about how Google uses your Personal Information here:
    https://policies.google.com/privacy?hl=en.You can also opt-out of Google Analytics here:
    https://tools.google.com/dlpage/gaoptout.
  </p>

  <p>
    For more information about how targeted advertising works, you can visit the Network Advertising
    Initiative’s (“NAI”) educational page at http://www.networkadvertising.org/understanding-online
    advertising/how-does-it-work.</p>

  <p>You can opt out of targeted advertising (if applicable) by:</p>

  <p>• FACEBOOK - https://www.facebook.com/settings/?tab=ads</p>
  <p>• GOOGLE - https://www.google.com/settings/ads/anonymous</p>
  <p>Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s opt
    out portal at: http://optout.aboutads.info/.
  </p>

  <h3>Using Personal Information</h3>

  <p>We use your personal Information to provide our services to you, which includes offering products for
    sale, processing payments, shipping and fulfillment of your order, and keeping you up to date on new
    products, services, and offers.
  </p>

  <h3>Retention</h3>

  <p>We will only retain your personal data for as long as we are either required or permitted to by law or as
    relevant for the purposes for which it was collected. We will cease to retain your personal data, or
    remove the means by which the data can be associated with you, as soon as it is reasonable to assume
    that such retention no longer serves the purposes for which the personal data was collected, and is no
    longer necessary for any legal or business purpose.
  </p>

  <h3>Cookies</h3>

  <p>A cookie is a small amount of information that is downloaded to your computer or device when you visit
  our Site. We use a number of different cookies, including functional, performance, advertising, and social
  media or content cookies. Cookies make your browsing experience better by allowing the website to
  remember your actions and preferences (such as login and region selection). This means you do not have
  to re-enter this information each time you return to the site or browse from one page to another.
  Cookies also provide information on how people use the website, for instance whether it is their first
  time visiting or if they are a frequent visitor.</p>
  <p>The length of time that a cookie remains on your computer or mobile device depends on whether it is a
  “persistent” or “session” cookie. Session cookies last until you stop browsing and persistent cookies last
  until they expire or are deleted. Most of the cookies we use are persistent and will expire between 30
  minutes and two years from the date they are downloaded to your device.</p>
  <p>You can control and manage cookies in various ways. Please keep in mind that removing or blocking
  cookies can negatively affect your user experience and parts of our website may no longer be fully
  accessible.</p>
  <p>Most browsers automatically accept cookies, but you can choose whether or not to accept cookies
  through your browser controls, often found in your browser’s “Tools” or “Preferences” menu. For more
  information on how to modify your browser settings or how to block, manage or filter cookies can be
  found in your browser’s help file or through such sites as www.allaboutcookies.org.</p>
  <p>Additionally, please note that blocking cookies may not completely prevent how we share information
  with third parties such as our advertising partners. To exercise your rights or opt-out of certain uses of
  your information by these parties, please follow the instructions in the “Behavioral Advertising” section
    above.
  </p>

  <h3>Do Not Track</h3>
  <p>Please note that because there is no consistent industry understanding of how to respond to “Do Not
  Track” signals, we do not alter our data collection and usage practices when we detect such a signal from
    your browser.</p>
  <h3>Changes</h3>
  <p>We may update this Privacy Policy from time to time in order to reflect, for example, changes to our
  practices or for other operational, legal, or regulatory reasons.</p>
  <h3>Contact</h3>
  <p>For more information about our privacy practices, if you have questions, or if you would like to make a
  complaint, please contact us by e-mail at enquiry@mysuccess.com.my or by mail using the details
  provided below:</p>
  <p>MySuccess Resources (M) Sdn Bhd, 81, Jalan SS20/13, SS20, 47400 Petaling Jaya,
  Selangor. Last updated: 1st June 2022</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Close</button>
</mat-dialog-actions>
