<div class="about-container-1024">
  <img src="/assets/about-us-icon-v1.png" class="about-icon-1024">
  <div class="sub-con-1024">
    <span class="title-text-1024">MySuccess</span>
    <span class="sub-title-text-1024">The MYSUCCESS APP was the brainchild of MYSUCCESS RESOURCES ( M ) SDN BHD , a Malaysian owned company led by 3 Malaysians. We wanted to improve the way students apply to colleges in Malaysia.

Before we started working on this app, there were no good resources for students to learn about colleges and apply to them. Now with our app , students can easily compare the different options available to them and make an informed decision about where they want to continue their studies .

The fact that local PHEI are running their own advertising campaigns and separate social media ads makes it much more difficult for students to compare , because they need to get the information about cost, quality and duration manually before they can compare them. Even then , its not possible to compare all available options .

WE AIM TO MAKE THE COLLEGE APPLICATION PROCESS EASY, FUN , VALUABLE AND FUTURISTIC
</span>

    <div class="download-container-1024">
      <a style="cursor: pointer" class="gplay-button">
        <object data="assets/Google_Play-Badge-Logo.wine.svg" width="160" class="g-icon-1024"></object>
      </a>

      <a style="cursor: pointer" class="ios-button">
        <object data="assets/App_Store_(iOS)-Badge-Logo.wine.svg" width="145" class="a-icon-1024"></object>
      </a>
    </div>

    <mat-divider></mat-divider>

    <div class="footer-text-1024">
      <span>Have any questions?</span>
      <span>Contact us!</span>
    </div>

    <a routerLink="/contact-us" class="email-1024">enquiry@mysuccess.com.my</a>
  </div>
</div>

<div class="about-container">
  <img src="/assets/about-us-icon-v1.png"/>
  <div class="about-title-container">
    <span class="title-text">About us</span>
    <span class="sub-title-text">The MYSUCCESS APP was the brainchild of MYSUCCESS RESOURCES ( M ) SDN BHD , a Malaysian owned company led by 3 Malaysians. We wanted to improve the way students apply to colleges in Malaysia.

Before we started working on this app, there were no good resources for students to learn about colleges and apply to them. Now with our app , students can easily compare the different options available to them and make an informed decision about where they want to continue their studies .

The fact that local PHEI are running their own advertising campaigns and separate social media ads makes it much more difficult for students to compare , because they need to get the information about cost, quality and duration manually before they can compare them. Even then , its not possible to compare all available options .

WE AIM TO MAKE THE COLLEGE APPLICATION PROCESS EASY, FUN , VALUABLE AND FUTURISTIC</span>
  </div>

  <div class="download-icon-container">
    <a style="cursor: pointer" class="gplay-button">
      <object data="assets/Google_Play-Badge-Logo.wine.svg" width="160" class="g-icon"></object>
    </a>

    <a style="cursor: pointer" class="ios-button">
      <object data="assets/App_Store_(iOS)-Badge-Logo.wine.svg" width="145" class="a-icon"></object>
    </a>
  </div>
  <mat-divider></mat-divider>
  <div class="footer-container">
    <div class="text-1-container">
      <span>Have any questions?</span>
      <span>Contact us!</span>
    </div>

    <span class="email">enquiry@mysuccess.com.my</span>
  </div>
</div>
