object {
  pointer-events: none;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.first-container {
  @apply bg-blue-600;
  height: 30%;
  width: 100%;
  position: fixed;
  transition: .3s;
  z-index: 2;
}

.first-container.small {
  height: 10%;
}

.logo-container {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  width: 60%;
  height: auto;
  padding-bottom: 50px;
  transition: .3s;
}

.logo-container.hide > .logo {
  width: 30%;
  height: auto;
  margin-top: 50px;
}

.logo-caption{
  border-radius: 6px;
  background-color: white;
  width: 50%;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  transition: .3s;
}

.logo-container.hide > .logo-caption {
  opacity: 0;
  visibility: hidden;
}

.logo-text {
  @apply font-bold text-blue-600 italic;
  font-size: 5vw;
}

.second-container {
  width: 100%;
  position: absolute;
  top: 30%;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.content-caption {
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
  margin: 0 20px 20px 20px;
}

.option-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.option-button {
  @apply bg-blue-600;
  border-radius: 6px;
  height: 50px;
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  transition: background 0.8s;
  background-position: center;
  cursor: pointer;
}

.option-text {
  @apply text-white text-base font-bold
}

.download-button {
  display: flex;
  flex-direction: row;
}

.ios-button {
  margin-top: 3px;
}

.tnc {
  font-size: 3vw;
  margin: 0 50px 0 50px;
  text-align: center;
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: 5px;
}

.footer-text {
  font-size: 3vw;
  color: gray;
}

@media (min-width: 500px) {
  .first-container {
    height: 35%;
  }

  .first-container.small {
    height: 25%;
  }

  .logo {
    width: 20%;
    padding-bottom: 40px;
  }

  .logo-container.hide > .logo {
    width: 20%;
    height: auto;
    margin-top: 40px;
  }

  .logo-caption {
    height: 25px;
    width: 40%;
  }

  .logo-text {
    font-size: 2vw;
  }

  .content-caption {
    font-size: 3vw;
  }

  .footer-text {
    font-size: 1vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .first-container {
    height: 30%;
  }

  .first-container.small {
    height: 20%;
  }

  .logo {
    width: 20%;
  }

  .logo-container.hide > .logo {
    width: 20%;
    height: auto;
    margin-top: 50px;
  }

  .logo-caption {
    height: 30px;
  }

  .logo-text {
    font-size: 3vw;
  }

  .content-caption {
    font-size: 3vw;
  }

  .tnc {
    font-size: 2vw;
    padding-bottom: 50px;
  }

  .footer-text {
    font-size: 1vw;
  }
}

@media (min-width: 1024px) {
  .first-container {
    height: 100%;
    width: 60%;
    position: unset;
  }

  .second-container {
    width: 40%;
    height: 100%;
    position: unset;
  }

  .main-container {
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: 40%;
    padding-bottom: 0;
  }

  .logo-caption {
    height: 10%;
    width: 40%;
  }

  .logo-text {
    font-size: 2vw;
  }

  .content {
    justify-content: center;
    margin-top: 0;
  }

  .content-caption {
    font-size: 1vw;
    margin: 0 20px 50px 20px;
  }

  .option-button {
    height: 50px;
    width: 60%;
  }

  .option-text {
    font-size: 1.2vw;
  }

  .tnc {
    font-size: .8vw;
  }

  .footer {
    left: unset;
  }

  .footer-text {
    font-size: .7vw;
  }
}
