.main-container {
  @apply
  w-screen h-screen
  flex flex-col
  justify-center
}

.header-container {
  @apply
  w-full
  h-[10%];
  position: fixed;
  top: 0;
  z-index: 100;
}

.content-container {
  @apply
  w-full
  h-[90%];
}

@media (max-height: 600px) {
  .header-container {
    height: 20%;
  }

  .content-container {
    height: 80%;
  }
}

@media (min-width: 1300px) {
  .header-container {
    position: unset;
  }
}
