<div class="why-container-1024">
  <div class="sub-con-1024-1">
    <div class="sub-content-1024">
      <span class="title-text-1024">Why MySuccess?</span>
      <span class="sub-title-text-1024">MYSUCCESS app is the breath of fresh air that is needed to convince our youth to go ahead and apply for college</span>
    </div>
    <div class="icon-con-1024">
      <img src="/assets/why-icon.png" class="why-icon-1024">
    </div>
  </div>
  <div class="sub-cont-1024-2">
    <div class="content-1-1024">
      <mat-card class="card-container-1024 mat-elevation-z2">
        <mat-card-header>
          <mat-card-title class="portal-container-1024">
            <img src="/assets/portal-icon.png" style="width: 20%; margin-right: 8%"/>
            <span class="card-title-1024">Portal</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="card-content-1024">Our portal connects every student in this world to every single available PHEI in the world . Education options should be at every students fingertips and not controlled by media . Students should be able to study what he or she wants</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="content-2-1024">
      <mat-card class="card-container-1024 mat-elevation-z2">
        <mat-card-header>
          <mat-card-title class="portal-container-1024">
            <img src="/assets/mission-icon.png" style="width: 20%; margin-right: 8%"/>
            <span class="card-title-1024">Mission</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="card-content-1024">OUR MISSION is to get students back to education , especially those affected by the pandemic. We realise that 72.1 % of SPM graduates do not intend to or are not interested in continuing their education Something is WRONG here</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="why-container">
  <div class="why-title-container">
    <span class="title-text">Why MySuccess?</span>
    <span class="sub-title-text">MySuccess app is the breath of fresh air that is needed to convince our youth to go ahead and apply for college</span>
  </div>
  <div class="why-content-container">
    <div class="content-1">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title class="portal-container">
            <img src="/assets/portal-icon.png" style="width: 20%; margin-right: 8%"/>
            <span class="card-title">Portal</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="card-content">Our portal connects every student in this world to every single available PHEI in the world . Education options should be at every students fingertips and not controlled by media . Students should be able to study what he or she wants</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="content-2">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title class="portal-container">
            <img src="/assets/mission-icon.png" style="width: 20%; margin-right: 8%"/>
            <span class="card-title">Mission</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span class="card-content">OUR MISSION is to get students back to education , especially those affected by the pandemic. We realise that 72.1 % of SPM graduates do not intend to or are not interested in continuing their education Something is WRONG here</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
