/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~boxicons/css/boxicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Telex";
  src: local("Telex"), url(./assets/fonts/Telex/Telex-Regular.ttf) format("truetype");
}

body,html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  font-family: "Telex";
  box-sizing: border-box;
}
