/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Telex";
  src: local("Telex"), url(./assets/fonts/Telex/Telex-Regular.ttf) format("truetype");
}

* {
  font-family: "Telex";
  margin: 0;
}
